server {
    listen 80;
    listen [::]:80;
    server_name your-domain.example;

    location /static/ {
        alias /var/www/word-regex-search/word_regex_app/static/;
        expires 1d;
        add_header Cache-Control "public";
    }

    location / {
        include proxy_params;
        proxy_pass http://unix:/run/word-regex-search.sock;
        proxy_read_timeout 30s;
    }
}